<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Biblioteca{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<header class="topbar">
    <div class="container">
        <h1>📚 Biblioteca</h1>
        {% block header_right %}{% endblock %}
    </div>
</header>

<main class="container">
    {% block content %}{% endblock %}
</main>

<footer class="footer">
    <p>Sistema de Biblioteca • FastAPI</p>
</footer>

</body>
</html>
